doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(
      http-equiv="X-UA-Compatible",
      content="IE=edge",
    )
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1",
    )
    title ［社内発表資料］ 視覚障がい者向け Web アクセシビリティ入門以前
  body
    .reveal: .slides: include ./slides.pug
