@font-face {
  font-family: GenJyuuGothicX-Normal;
  src: url(./assets/genjyuugothic-x-20150607/GenJyuuGothicX-Normal.ttf) format(ttf);
}

:root {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: GenJyuuGothicX-Normal, sans-serif;
}

section {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.reveal p {
  margin: .5em 0;
}

.reveal ol, .reveal dl, .reveal ul {
  display: block;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.reveal .controls button {
  outline: none;
  opacity: 0;
}

.reveal .slide-number {
  background-color: transparent;
  color: #42affa;
  font-size: 16px;
  bottom: 20px;
}
